#!/usr/bin/env bash

export FLASK_SECRET_KEY= # Randomly generated key, used to sign cookies (we're not using any now, but it's as well to keep it secret in case we do later)
export MBTA_API_KEY=     # API key from https://api-v3.mbta.com/
export GOOGLE_API_KEY=   # Google API key with access to embed maps
