{% extends "base.html" %}

{% block body %}

<table id="route_table" class="display" data-page-length="25">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
    </tr>
    </thead>
    <tbody>
    {% for route in routes %}
    <tr>
        <td>{{ route.route_id }}</td>
        <td>{{ route.long_name }}</td>
        <td>{{ route.type }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}

$(document).ready(function() {
    $('#route_table').DataTable( {
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.header()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
} );


{% endblock %}
