{% extends "base.html" %}

{% block body %}

<table id="stop_table" class="cell-border compact hover" data-page-length="25">
    <thead>
    <tr>
        <th>Name</th>
        <th>Stop ID</th>
    </tr>
    </thead>
    <tbody class="table_body">
    {% for stop in stops %}
    <tr onclick="window.location = '/routes/{{ route.route_id }}'">
        <td class="centered_column">{{ route | route_type_icon | safe }}</td>

        <td class="centered_column">
            <div class="badge" style="background-color: #{{ route.color }}; color: #{{ route.text_color }}">
                {{ route.long_name }}
            </div>
        </td>

        <td class="centered_column">
            <div class="badge" style="background-color: #{{ route.color }}; color: #{{ route.text_color }}">
                {{ route | route_destination }}
            </div>
        </td>

        <td class="centered_column">
            <div class="badge" style="background-color: #{{ route.color }}; color: #{{ route.text_color }}">
                {{ route.route_id }}
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}
    $(document).ready(function() { $('#route_table').DataTable(); });
{% endblock %}
